In [10]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
import pickle

# Load and preprocess the data
data = pd.read_csv("Clean_Dataset.csv")
df1 = data.fillna(method="ffill")

# Encode categorical features
label_encoders = {}
for col in ['airline', 'source_city', 'departure_time', 'stops', 'arrival_time', 'destination_city', 'class']:
    le = LabelEncoder()
    df1[col] = le.fit_transform(df1[col])
    label_encoders[col] = le

# Drop unnecessary column and split data
df1.drop('flight', axis=1, inplace=True)
df1.drop('stops',axis = 1,inplace = True)
df1.drop('days_left',axis = 1,inplace = True)
df1.drop('S.No',axis = 1,inplace = True)
X = df1.drop('price', axis=1)
y = df1['price']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

# Train the model
model = RandomForestRegressor(n_estimators=7)
model.fit(X_train, y_train)

# Save the model and label encoders
with open('model1.pkl', 'wb') as model_file:
    pickle.dump(model, model_file)
with open('label_encoders.pkl', 'wb') as le_file:
    pickle.dump(label_encoders, le_file)

print("Model and encoders saved successfully.")

/tmp/ipykernel_6927/4189648394.py:9: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df1 = data.fillna(method="ffill")

Model and encoders saved successfully.

In [11]:
X_test

,airline,source_city,departure_time,arrival_time,destination_city,class,duration
219010,1,2,2,0,4,0,18.33
164378,1,3,1,5,5,1,14.75
225253,5,5,2,2,2,0,24.42
271166,5,4,5,4,3,0,13.25
194696,5,1,1,5,0,1,15.83
...,...,...,...,...,...,...,...
155286,5,3,1,0,2,1,6.50
121558,0,4,0,5,2,1,8.75
285678,5,3,4,4,1,0,23.58
52451,0,5,5,3,2,1,7.42
197159,5,1,4,5,0,1,11.92